*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button{
    position: relative;
    height: 55px;
    max-width: 300px;
    width: 100%;
    background: #7d2ae8;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    
}

.button .text-icon{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 26px;
;
}

.button .text-icon span, .button .text-icon i{
    font-size: 20px;
    font-weight: 400;
    margin-left: 8px;
    z-index: 1;
}

.button::before{
    content: '';
    position: absolute;
    
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    transition: all 9s ease;
}

/* .button:hover::before{
    left: 0;
} */

.button.progress::before {
    animation: progress 6s ease-in-out forwards;
}
@keyframes progress {
    0%{
        left: -100%;
    }
    10% {
        left: -97%;
    }
    20%{
    left: -92%;
    }
    30% {
    left: -82%;
    }
    40% {
        left: -62%;
    }
    50% {
        left: -52%;
    }
    60% {
        left: -41%;
    }
    70% {
        left: -32%;
    }
    80% {
        left: -22%;
    }
    90% {
        left: -10%;
    }
    99% {
        left: 0%;
    }

}